body {
  font-family: "Avenir Next";
}
header {
  background-color: #26d0c9;
  color: #fff;
  height: 70px;
  width:100%;
  font-size: 50px;
}
main{
  height: 900px;
  /*border: 5px solid rgb(94, 7, 143);*/
}
footer{
  background-color: #444;   /* 背景色(黒) */
	width:100%;               /* 横の幅を100% */
	height: 100px;            /* 縦の幅を120px */
	position: absolute;       /* 絶対位置指定することを定義 */
	bottom: 0px;              /* 絶対位置指定(左0px,下0px) */
	padding: 10px 0;
}
.box01 {
  background-color:#1995ee;
  position:absolute;
  width:150px;
  height:120px;

  top:90px;
  left:15px;
}

.box02 {
  background-color:#ff6a00;
  position:absolute;
  width:150px;
  height:120px;

  top:90px;
  left:220px;
}

.box03 {
  background-color:#ffd800;
  position:absolute;
  width:150px;
  height:120px;

  top:250px;
  left:15px;
}

.box04 {
  background-color:#26b138;
  position:absolute;
  width:150px;
  height:120px;

  top:250px;
  left:220px;
}
.container1 {
  font-size: 60px;
  width: 90px;
  padding-right: 15px;
  padding-left: 15px;
}
